# Ігноруємо скомпільовані файли
*.o
*.out
*.exe

# Ігноруємо бібліотеки та об'єктні файли
*.a
*.so
*.dll

# Ігноруємо файли журналів
*.log

# Ігноруємо бінарні файли
*.bin

# Ігноруємо конфігураційні файли IDE (якщо ви використовуєте CLion, CodeBlocks, тощо)
.idea/
.vscode/
*.iml

# Ігноруємо директорії збірки
build/
cmake-build-debug/
cmake-build-release/

# Ігноруємо файли CMake
CMakeLists.txt.user
